aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
beautifulsoup4
cachetools
certifi
charset-normalizer
datasets
dill
filelock
frozenlist
fsspec
google-auth
google-genai
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
IMAPClient
Jinja2
joblib
jusText
lxml
lxml_html_clean
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
ollama
pandas
propcache
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
python-dotenv
pytz
PyYAML
pyzmail36
regex
requests
rsa
safetensors
scikit-learn
scipy
sniffio
soupsieve
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspection
tzdata
urllib3
websockets
xxhash
yarl
